[2019-07-16 18:06] chrisguindon opened #1 "Commit initial codebase based of jakartaone.org"
Similar to openhwgroup.org, we will create a Hugo website for osdforum.org. I need to initialize the repo with all the required files for this new website.

[2019-07-16 18:09] chrisguindon opened #2 "Create a temporary save the date landing page"
We need to create a save the date page ASAP.

@rickoco, please the content you would like to see on the site while we are working on it?

I presume you wish to include the following:

- logo
- Save The Date heading
- Event date and location
- Brief description of the event

[2019-07-16 18:18] chrisguindon opened #3 "Create a template for osdforum"
We will need to create a template for osdforum.org. It should be similar to https://events.eclipse.org/volttrondays/ without black background.

[2019-07-16 18:22] chrisguindon commented on #3
@stephanieswart, could you create a mock up for this new site before we create the theme?

[2019-07-16 18:22] chrisguindon opened #4 "Configure DNS and Cloudflare"
We plan on hosting the site via github pages.

[2019-07-16 18:23] chrisguindon opened #5 "Create a osdforum logo"
We need to create a logo for this new event site.

@rickoco I am assigning this to you since you are currently working with your Marketing agency for this.

[2019-07-16 18:24] chrisguindon opened #6 "Configure Google Analytics"
We need to capture stats for this website.

[2019-07-16 20:16] rickoco commented on #3
don't think we actually need a mockup created.  To keep things simple, we can use the Voltron site as mockup as we'll need / want the exact same content and the layout is fine.  Just use the Eclipse orange and OpenHW blue as accent colors and a more traditional white background (and stock images) on https://jakartaone.org/ or https://www.eclipse.org/

[2019-07-16 20:35] chrisguindon commented on #3
@rickoco the mockup is required to reduce back and forth feedback and development time for my team.

[2019-07-17 01:14] rickoco commented on #3
ok - thx Chris.  Stephanie, let me know if you have any questions.  Looking to get this up asap so we can begin promotion and registration.

[2019-07-18 13:46] stephanieswart commented on #2
Here is the landing page placeholder
![osdforummockup_placeholderpage (1)](https://user-images.githubusercontent.com/34580334/61462630-eebee600-a940-11e9-893b-fa9738b957da.png)

[2019-07-18 13:47] stephanieswart commented on #3
Here is the mockup I've made for the full page (pending content, I can mock up other sections as necessary)
![osdforummockup_full](https://user-images.githubusercontent.com/34580334/61462683-07c79700-a941-11e9-814a-e9d30f28a364.png)

[2019-07-18 15:41] stephanieswart commented on #3
Full Mockup
![osdforummockup_full (3)](https://user-images.githubusercontent.com/34580334/61471616-08682980-a951-11e9-9e26-c360466ca05d.png)

[2019-07-18 15:50] rickoco commented on #2
This looks great!  Can we also add a "Sponsored by" section where we'll have a bunch of logos (5 or 6 to start with on the 'save the date' page and more on the full site.

[2019-07-18 15:55] rickoco commented on #3
Thx Stephanie - we don't need the "Lodging" and "What's Around" sections.

We do need a sponsored by section.

The event is only 1 day, so no "DAY 2" agenda.  We'll also what to show pop abstracts and speaker bios for each item on the agenda.  No need for "Room Location" (one track in one room).

[2019-07-18 16:03] rickoco commented on #3
Also - all the privacy / terms of use links in the footer can point to the openhwgroup.org site.  Same with the copyright statement.

[2019-07-18 17:34] stephanieswart commented on #3
@rickoco here is an updated version, let me know what you think
![osdforummockup_full (4)](https://user-images.githubusercontent.com/34580334/61478958-d232a600-a960-11e9-8099-97007a268636.png)

[2019-07-18 17:36] stephanieswart commented on #3
@rickoco here is an updated version, let me know what you think
![osdforummockup_full (5)](https://user-images.githubusercontent.com/34580334/61479074-0908bc00-a961-11e9-92ed-7505b4d23cc4.png)

[2019-07-18 17:56] stephanieswart commented on #2
How is this @rickoco?

![osdforummockup_placeholderpage (2)](https://user-images.githubusercontent.com/34580334/61480281-a1a03b80-a963-11e9-9d13-bd223706b4d8.png)

[2019-07-18 18:05] rickoco commented on #2
Looks great!  Good to go.  Thank you @stephanieswart

[2019-07-18 18:22] stephanieswart commented on #3
For the webdev team - images used in mockup
[osdforumimages.zip](https://github.com/openhwgroup/osdforum.org/files/3407900/osdforumimages.zip)

[2019-07-18 18:29] rickoco commented on #2
Date: Wednesday Sep 18th
Location: [Innovation Centre at Bayview Yards ](https://www.google.com/maps/place/7+Bayview+Station+Rd,+Ottawa,+ON+K1Y+3B5/@45.409686,-75.728026,16z/data=!4m5!3m4!1s0x4cce0441d4558e01:0x68c5b9a6731b105e!8m2!3d45.4096858!4d-75.7280263?hl=en-US)
![image](https://user-images.githubusercontent.com/2498391/61482237-2f7e2580-a968-11e9-946a-9c9a2ad073b4.png)
![image](https://user

[2019-07-18 19:08] rickoco commented on #2
Text: The Open Source Developer Forum is a one day workshop that brings open source software and hardware (chips, boards and systems) developers together to collaborate and learn.  The agenda for the day will be published shortly and will include talks from leading industry and academic experts in the field of open source development and will also include a hands on bring up session of a RISC-V ba

[2019-07-18 21:13] rickoco commented on #2
Sponsor logos to include so far:
![image](https://user-images.githubusercontent.com/2498391/61492288-074df100-a97f-11e9-9fb9-e31f81a21179.png)
![image](https://user-images.githubusercontent.com/2498391/61492338-1af95780-a97f-11e9-9e25-613c4437c7a3.png)
![image](https://user-images.githubusercontent.com/2498391/61492361-28aedd00-a97f-11e9-8f2d-aa789b140b9a.png)
![image](https://user-images.githubus

[2019-07-19 18:02] chrisguindon commented on #1
The initial code base as been committed! I am not passing the torch to @autumnfound to implement @stephanieswart design from issue #3

[2019-07-19 18:02] #1 closed

[2019-07-19 18:02] chrisguindon commented on #4
Domain and code is now configured to load the via from https://www.osdforum.org/

[2019-07-19 18:02] #4 closed

[2019-07-19 18:24] chrisguindon commented on #6
Done!

[2019-07-19 18:24] #6 closed

[2019-07-19 18:25] chrisguindon commented on #2
The repository is ready for @autumnfound.

Martin, is currently working on high-priority task but I expect him to work on the save the date page on tuesday!

[2019-07-20 20:03] rickoco commented on #2
Use the Bayview Yards building pic as the background image replacing the one in the mockup.

[2019-07-21 18:15] rickoco commented on #2
I see this is up now https://www.osdforum.org/ but not branded as per the mockup.  Just confirming this is work in progress right?

[2019-07-22 12:28] chrisguindon commented on #2
@rickoco Correct. As mentioned in mt previous comment on this thread. @autumnfound will start working on the save the date page tomorrow.

[2019-07-22 18:51] rickoco commented on #2
Thank you @chrisguindon and @autumnfound

[2019-07-22 19:44] autumnfound commented on #2
@rickoco I'm looking at developing the page now, and I need links for the sponsors. Most of them are pretty quick w/ a google search but it looks like CORE-V is project within OpenHW group. I've got it linked to https://www.openhwgroup.org/#core-v-family if you click on the sponsor image for now, is there something you would prefer?

[2019-07-23 13:32] rickoco commented on #2
perfect @autumnfound - thank you

[2019-07-23 13:33] autumnfound commented on #2
Also, do we have rights to post those images? We don't want to step on any toes. I'm guessing the logos are fine, but we just want to make sure we're cleared for these images.

[2019-07-23 13:35] rickoco commented on #2
Yes - @autumnfound, the images were provide by Invest Ottawa...

[2019-07-23 13:57] autumnfound commented on #3
@rickoco do you have content for the home page? I'm looking at working on that today and have set a general timeline of being done the layout by EOD

[2019-07-23 15:42] rickoco commented on #3
@autumnfound its the same content as the save the date page for now - just with the agenda section populated with "to be announced"

[2019-07-23 18:05] autumnfound commented on #2
Put a PR in, this should be live tomorrow morning:
![current state](https://user-images.githubusercontent.com/23018241/61735860-d7be3080-ad52-11e9-8ec7-757958296d8c.png)

[2019-07-23 19:02] autumnfound commented on #3
What about the venue, or about sections? What should we link the register button to, the openHW group homepage?

[2019-07-23 19:09] autumnfound commented on #2
This is live

[2019-07-23 19:09] #2 closed

[2019-07-23 19:16] chrisguindon commented on #2
Thanks @autumnfound

The remaining of the work will be done via #3

[2019-07-23 21:14] rickoco opened #10 "Background image"
@autumnfound   This should be the background image for the save the date site.

Date: Wednesday Sep 18th
Location: [Innovation Centre at Bayview Yards ](https://www.google.com/maps/place/7+Bayview+Station+Rd,+Ottawa,+ON+K1Y+3B5/@45.409686,-75.728026,16z/data=!4m5!3m4!1s0x4cce0441d4558e01:0x68c5b9a6731b105e!8m2!3d45.4096858!4d-75.7280263?hl=en-US)
![image](https://user-images.githubusercontent.com/

[2019-07-23 21:16] rickoco opened #11 "logo ordering and rendering"
@autumnfound  - logos should be alphabetical and the ~ same size relative to each other.

[2019-07-23 21:19] rickoco opened #12 "'register now' text"
@autumnfound - the 'register now' text was meant to link to an eventbrite reg site (which is only now being setup by Anne in the Eclipse team. (can you sync with here / add her to this repo?)

So for now just show "Save the Date Sep 18th.  Agenda and registration details to follow."

[2019-07-23 21:21] rickoco opened #13 "Chrome & Safari on a Mac"
@autumnfound site rendenring issues / differences on Chrome & Safari on a Mac (screen shots below)

Chrome Screen Shot
![image](https://user-images.githubusercontent.com/2498391/61748450-3c3ab900-ad6e-11e9-9069-8e5d2050d97e.png)

Safari Screen Shot
![image](https://user-images.githubusercontent.com/2498391/61748497-5a081e00-ad6e-11e9-8c8d-3930988e200b.png)

[2019-07-23 21:26] rickoco opened #14 "Title text & Link"
@autumnfound change title text to (all centred)

WEDNESDAY SEP 18TH, [INNOVATION CENTRE AT BAYVIEW YARDS](https://bayviewyards.org/)
OTTAWA, ONTARIO

[2019-07-23 21:28] rickoco commented on #3
venue is as per save the date site [INNOVATION CENTRE AT BAYVIEW YARDS ](https://bayviewyards.org/)

About should have the lead in text from the save the date site.

[2019-07-23 22:59] chrisguindon commented on #13
@rickoco did you try with a private window? I have a feeling that your browser is serving a cache version of the CSS.

[2019-07-24 12:52] autumnfound commented on #10
Which image? Also something to keep in mind, theres a lot of contrast in those images so text may be hard to read over those images without any changes.

[2019-07-24 13:09] autumnfound commented on #11
@rickoco I can do the ordering bit, that's easy. The rendering thing however, due to the logos having different aspect ratios (Core V and CMC Microsystems being the big offenders) they will never look perfect. They already have a fixed width, and each of the logos take up the same amount of horizontal real estate.

[2019-07-24 13:14] autumnfound commented on #12
I've been passed the eventbrite link, so I'll just add it now. Tickets aren't on sale yet, but people can be reminded for when they do go on sale.

[2019-07-24 14:17] autumnfound commented on #3
The venue section with just the address is pretty empty. Do we have any little spiel about the facility we can use to help fill the space?
![venue section preview](https://user-images.githubusercontent.com/23018241/61799847-db58c280-adf9-11e9-9007-b8049e42156f.png)

[2019-07-24 15:10] stephanieswart commented on #3
Here is a blurb about the space:

Bayview Yards is a dynamic and energized hub that serves as basecamp for some of our greatest homegrown technology talent, capabilities and companies. It is the ultimate one-stop business acceleration shop and ‘mash-up’ of technical, business and market services, resources and expertise that helps entrepreneurs and companies launch, grow and thrive, and compete wi

[2019-07-24 17:31] autumnfound commented on #3
The initial template has been put live. If there are any further enhancements needed, please create a new bug.

[2019-07-24 17:31] #3 closed

[2019-07-25 13:54] autumnfound commented on #11
This is live. If you'd like more changes to the logos, please open a new issue

[2019-07-25 13:54] #11 closed

[2019-07-25 13:55] autumnfound commented on #14
This is live

[2019-07-25 13:55] #14 closed

[2019-07-25 15:23] #12 closed

[2019-07-25 15:24] autumnfound commented on #13
I'm unable to reproduce in chromium, and I believe @chrisguindon has the right of it

[2019-07-25 15:24] #13 closed

[2019-07-25 21:08] chrisguindon commented on #10
@stephanieswart could you please add your photoshop magic to these images so that we can use them in the header?

@rickoco which of the 2 images should we use? I assume it's the second one but I would like to make sure!

[2019-07-26 12:34] stephanieswart commented on #10
![osdforumimages (1)](https://user-images.githubusercontent.com/34580334/61951848-37e5ea00-af80-11e9-8457-d0df76cbea8b.png)
![osdforumimages (2)](https://user-images.githubusercontent.com/34580334/61951850-39afad80-af80-11e9-97a6-006e3223ed7e.png)

Here you go!

[2019-07-26 16:36] rickoco commented on #10
Thx @stephanieswart and @chrisguindon.

Yes please, the 7 Bayview Yards building picture for the background image in the header

[2019-07-30 13:37] autumnfound commented on #10
This is live

[2019-07-30 13:37] #10 closed

[2019-07-30 14:35] rickoco opened #21 "Temp logo"
@autumnfound - the site is looking good Martin.  While the OSDForum logo is being finalized, please change out the OSDForum text in the header with the attached temp logo (which is also used in the top left of the site).  Also, change out the OpenHW Group logo in the footer with this temp logo.

![image](https://user-images.githubusercontent.com/2498391/62138482-b2cb3f80-b2b5-11e9-9f9c-edb6d5233f9

[2019-07-30 18:42] rickoco opened #22 "Sponsor logos"
@autumnfound - Hi Martin, can you take look a resizing the sponsor logos so their closer to the same size pls?  In particular, the CORE-V logo looks a little big...

[2019-07-30 18:44] rickoco opened #23 "New sponsor logo NXP"
@autumnfound - can you please add the attached NXP logo to the sponsor section?

![image](https://user-images.githubusercontent.com/2498391/62156231-95f43380-b2d8-11e9-9dcf-069067c45769.png)

[2019-07-30 18:53] chrisguindon commented on #22
@autumnfound I think the logos would look better if you remove the width on each img and set a max-width of about 77px.

![Screen Shot 2019-07-30 at 2 51 33 PM](https://user-images.githubusercontent.com/893942/62156794-b375cd00-b2d9-11e9-8b56-b6935638a1dc.png)

Would this work for you @rickoco?

[2019-07-30 19:04] chrisguindon commented on #21
@rickoco I have a feeling that the logo won't be easy to read in the header(orange + orange background).

Do you have a white logo that we could use there?

[2019-07-31 17:48] rickoco commented on #22
@chrisguindon @autumnfound - looks good in the image you attached.  Did you implement it?  Doesn't show on the live site...

[2019-07-31 17:49] rickoco commented on #21
actual logos will be ready soon, so hold off on this for now

[2019-07-31 17:49] chrisguindon commented on #22
@rickoco The PR was merged a few seconds ago. Should be on the website soon!

[2019-07-31 18:34] autumnfound commented on #22
This is live

[2019-07-31 18:35] autumnfound commented on #23
This is live as part of #22.

[2019-07-31 18:35] #23 closed

[2019-07-31 18:37] autumnfound commented on #21
@rickoco if we will just be implementing the actual logo (#5), we should just close this issue since we have an already open issue. Am I good to close this one?

[2019-07-31 20:18] rickoco commented on #22
sizing issue is still there...

![image](https://user-images.githubusercontent.com/2498391/62245105-cf976e00-b3ae-11e9-81e0-1bb77fa25039.png)

[2019-07-31 20:20] autumnfound commented on #22
@rickoco looks like its cached on your end. Could you try opening it in a private window? That should ignore the cache and get a fresh copy. I opened up a version of Chrome on my laptop and was unable to reproduce

![image](https://user-images.githubusercontent.com/23018241/62245210-184f2700-b3af-11e9-8f13-a6c2a044c145.png)

[2019-08-01 13:06] chrisguindon commented on #21
@autumnfound +1 We should use the existing logo bug for the new logo #5

[2019-08-01 13:06] #21 closed

[2019-08-01 13:07] chrisguindon commented on #22
@rickoco  the page looks fine here:

http://quirktools.com/screenfly/#u=https%3A//www.osdforum.org/&w=1440&h=900&a=1

Closing this issue.

[2019-08-01 13:07] #22 closed

[2019-08-01 13:48] rickoco commented on #22
I tried hard refresh several times before re-opening the issue.  All good now.  Thanks.

[2019-08-01 13:51] rickoco commented on #5
Ok - here's the logo..

![image](https://user-images.githubusercontent.com/2498391/62298808-b8ee2700-b441-11e9-8077-e25c0e0cd3f7.png)

Pls use it for the top left (header if you can - @stephanieswart can you create a white version?) and the footer (replacing the OpenHW Group logo).

[2019-08-01 13:52] stephanieswart commented on #5
Hi Rick, do you have the vector version of the logo? Either an eps. svg. or ai file?

[2019-08-01 13:59] rickoco opened #25 "Twitter link"
@autumnfound Please point the twitter social icon to https://twitter.com/osdforum

[2019-08-01 14:03] chrisguindon commented on #25
Hi @rickoco,

You don't need to ask @autumnfound directly for making a change in a public github issue.

[2019-08-01 14:10] chrisguindon commented on #25
I updated the link and twitter meta tags on the page to point to https://twitter.com/osdforum

The change should be live in the next 5 minutes! Please make sure to clear your cache before verifying the update!

[2019-08-01 14:10] #25 closed

[2019-08-01 14:27] rickoco opened #26 "LinkedIn link"
@autumnfound - pls point the LinkedIn social icon in the footer to https://www.linkedin.com/company/osdforum

[2019-08-01 14:29] rickoco opened #27 "favicon"
@autumnfound - pls update the site favicon with...

![image](https://user-images.githubusercontent.com/2498391/62301825-4a13cc80-b447-11e9-8322-55f50b7aeb55.png)

[2019-08-01 14:31] rickoco commented on #27
here's a few other favicon sizes in case you need them...

![favicon-32x32](https://user-images.githubusercontent.com/2498391/62301983-8fd09500-b447-11e9-93d7-a6c5d027b116.png)
![favicon-96x96](https://user-images.githubusercontent.com/2498391/62301984-8fd09500-b447-11e9-9cbe-cbcbea96bbcd.png)

[2019-08-01 14:34] rickoco commented on #5
sorry @stephanieswart - should have sent the vector file to begin with :-)

But I'll have to email it to you and Martin - no eps support in Github...

[2019-08-01 14:39] chrisguindon commented on #5
@rickoco can you try zipping the files? Perhaps github support .zip?

[2019-08-01 14:59] rickoco commented on #5
@stephanieswart @chrisguindon - zip eps attached...
[osdforum.eps.zip](https://github.com/openhwgroup/osdforum.org/files/3457322/osdforum.eps.zip)

[2019-08-01 16:03] stephanieswart commented on #5
[osdforum_png_eps.zip](https://github.com/openhwgroup/osdforum.org/files/3457620/osdforum_png_eps.zip)
Here it is in white and I added black too in eps. and png. versions

[2019-08-01 16:20] autumnfound commented on #27
This is live

[2019-08-01 16:20] #27 closed

[2019-08-01 16:20] autumnfound commented on #26
This is live

[2019-08-01 16:20] #26 closed

[2019-08-01 18:05] autumnfound commented on #5
This is now live! @rickoco how does that look?

[2019-08-01 18:14] stephanieswart commented on #5
I think it looks great!

[2019-08-01 18:29] stephanieswart opened #31 "Center and add more spacing between the sponsor logos"
@rickoco I'd like to make a suggestion with your blessing, I was talking to @autumnfound and thought the title 'Sponsored By' should be centered in the middle and the logos should have
![image (2)](https://user-images.githubusercontent.com/34580334/62317932-b226da80-b468-11e9-8a2d-e16e3c04cde9.png)
 a little more breathing room. WDYT?

Image attached

[2019-08-01 19:34] rickoco commented on #31
Perfect!

________________________________
From: stephanieswart <notifications@github.com>
Sent: Thursday, August 1, 2019 2:29:00 PM
To: openhwgroup/osdforum.org <osdforum.org@noreply.github.com>
Cc: rickoco <rickoco@truereckoning.com>; Mention <mention@noreply.github.com>
Subject: [openhwgroup/osdforum.org] Center and add more spacing between the sponsor logos (#31)

@rickoco<https://github.com/r

[2019-08-01 21:00] rickoco commented on #31
@stephanieswart @autumnfound -  feel free to suggest these types of improvements anytime. You guys are the pros!  I'm just a hack :-)

[2019-08-01 21:02] rickoco commented on #5
Yes!  Looks awesome, thank you!  Nice work @stephanieswart and @autumnfound.  Now on to promoting, agenda and registration!!

[2019-08-01 21:02] #5 closed

[2019-08-01 21:13] rickoco opened #32 "Updated About text"
@autumnfound - pls change the About text to...

About OSDForum
The Open Source Developer Forum is a one workshop that brings open source SW and HW (chips, boards and systems) developers together to collaborate and learn. The OSDForum includes talks from leading industry and academic experts focused on IoT, Edge and Machine Learning development leveraging open source SW and HW building blocks.  The

[2019-08-02 16:06] autumnfound commented on #32
@rickoco I've updated the text, but kept the link on `register today!`, as seen below in a snap from development:
![image](https://user-images.githubusercontent.com/23018241/62383480-e0b2bd00-b51d-11e9-9ef5-49a2dc2724a0.png)
I'll push this to be reviewed, and advise once live.

[2019-08-02 19:27] autumnfound commented on #31
This is live!

[2019-08-02 19:27] #31 closed

[2019-08-02 19:27] autumnfound commented on #32
This is live!

[2019-08-05 20:53] rickoco commented on #32
3 more small updates here...

1. please add the following link to existing text in About OSDForum [RISC-V based development board](https://open-isa.org/)

2. make 'orum' lower case in the title

3. replace crowd pic with the following board image and include image title "RISC-V dev board attendees will keep"

![image](https://user-images.githubusercontent.com/2498391/62494430-8590fc80-b7a1-11e9-8d

[2019-08-07 12:55] autumnfound commented on #32
1. Can do!
2. That breaks the design for headers as they are all currently upper case. Did you want to look at changing this?
3. Added, and optimized for web.

These changes are live, in current state. We can look at changing heading casing as a separate bug

[2019-08-07 14:31] rickoco commented on #32
Thx @autumnfound - leave the header's as is.

For the board pic, can you please add a title below the pic (not image hover) that reads "RISC-V dev board attendees will keep"

[2019-08-07 21:37] rickoco opened #37 "New Sponsor"
Hi @autumnfound - pls add Metrics as a sponsor.

[MetricsLogo_Final.eps.zip](https://github.com/openhwgroup/osdforum.org/files/3478992/MetricsLogo_Final.eps.zip)

![image](https://user-images.githubusercontent.com/2498391/62659680-084cbf80-b93a-11e9-8ce7-451dd0544dca.png)

[2019-08-08 13:24] rickoco opened #38 "About text correction"
@autumnfound pls take a look at the first line in the About Text "The Open Source Developer Forum is a one workshop that brings open" and delete the word "one" to have the sentence read "The Open Source Developer Forum is a workshop that brings open".

[2019-08-10 17:18] rickoco opened #40 "Agenda text"
@autumnfound - here's the link to the agenda text...

https://docs.google.com/spreadsheets/d/18yqcTMmf0BnNW9D3tiyGNn6UcIYHMR9Y90s1s0VThTY/edit?usp=sharing

[2019-08-12 18:16] autumnfound commented on #37
This is live!

[2019-08-12 18:16] #37 closed

[2019-08-12 18:53] autumnfound commented on #32
Is this what you're looking for?

Mobile/tablet:
![mobile/tablet view](https://user-images.githubusercontent.com/23018241/62890129-c8f2ea00-bd10-11e9-8df6-4ae918c188b6.png)
Desktop:
![desktop view](https://user-images.githubusercontent.com/23018241/62890158-dad48d00-bd10-11e9-94ef-979ac6977509.png)

[2019-08-13 13:41] autumnfound opened #42 "Fix social share image"
Currently if a link is shared to the site, the logo for BTA is the thumbnail rather than something related to OSDForum.

[2019-08-13 13:51] autumnfound commented on #38
Making this change as part of PR #43.

[2019-08-13 18:29] autumnfound commented on #40
This is now live!

[2019-08-13 18:29] #40 closed

[2019-08-13 18:30] autumnfound commented on #42
This is live, uses logo as social share image

[2019-08-13 18:30] #42 closed

[2019-08-13 18:38] autumnfound commented on #38
This is live!

[2019-08-13 18:38] #38 closed

[2019-08-13 18:40] autumnfound commented on #32
This is live!

[2019-08-16 13:55] #32 closed

[2019-08-20 19:21] rickoco opened #45 "new sponsor logos"
@autumnfound pls add following new sponsors...

![fossi-foundation](https://user-images.githubusercontent.com/2498391/63377393-0af9dc80-c35e-11e9-9069-c50a67d58765.png)
- you already have the source for the above logo which is also on the openhwgroup.org site

![segger_logo_cmyk](https://user-images.githubusercontent.com/2498391/63377465-2f55b900-c35e-11e9-91fe-cb5c08610ca4.png)

[ieee master bran

[2019-08-20 19:23] rickoco opened #46 "Invest Ottawa logo fix"
@autumnfound - the white border around the Invest Ottawa logo makes their actual logo look smaller than the others.  Can you enlarge it slightly pls?

[2019-08-20 19:25] rickoco opened #47 "board image title text"
@autumnfound - the title text for the RISC-V Dev board does not render properly...

<img width="1440" alt="Screen Shot 2019-08-20 at 3 23 54 PM" src="https://user-images.githubusercontent.com/2498391/63377793-c15dc180-c35e-11e9-97d7-7d3ca50387a3.png">

[2019-08-22 19:16] rickoco opened #48 "Agenda Update"
@chrisguindon @autumnfound - guys we've tweaked the order of the agenda somewhat and there was also some typos / spacing / line break issues on what was posted to the site.

Updated content is here...
https://docs.google.com/spreadsheets/d/18yqcTMmf0BnNW9D3tiyGNn6UcIYHMR9Y90s1s0VThTY/edit?usp=sharing

[2019-08-23 13:08] autumnfound commented on #48
I fixed the typo in one of the names (Afredo Herrera), switched the 11:15 and 11:45 sessions, but otherwise couldn't find any differences.
Also, for the spacing, do you mean the double session for Jerry Zeng? Because of how the agenda is built, the double session currently isn't able to be printed together. Is there exact time slots for those sessions?

[2019-08-23 13:18] #46 closed

[2019-08-23 14:43] chrisguindon opened #52 "Top right logo is not readable"
@rickoco What do you think of these recommendations?

- The top left logo is hard to read on a orange background. I would like to propose that we separate the logo section from the header.
- Shrink the header to include sponsors above the fold.
- Update the text formatting in the header + link color to make it easier to read!

Mockup:

<img width="1219" alt="Screen Shot 2019-08-23 at 10 42 38 AM"

[2019-08-23 17:34] autumnfound commented on #47
This fix is live!

[2019-08-23 17:34] #47 closed

[2019-08-23 17:36] autumnfound commented on #45
Added new logos, they are now live! Fossi is small, this is due to the aspect ratio of the image

[2019-08-23 17:36] #45 closed

[2019-09-03 15:16] autumnfound commented on #48
@rickoco any word on this?

[2019-09-03 18:26] rickoco commented on #48
sorry @autumnfound - I was away on travel.  For name typo it should be Alfredo with an 'l' after the A and not Alfredo.

Spacing issue I was referring to a line break in Hugh Pollitt-Smith's name at the bottom of the agenda for the last item (panel discussion) of the day before the wrap up.

[2019-09-04 13:58] autumnfound commented on #48
That's just how it ended up being printed in that style. How does this look? The names don't break but the companies do at times:
![image](https://user-images.githubusercontent.com/23018241/64261468-93e64b80-cefa-11e9-8dda-fc3279ededce.png)

[2019-09-05 20:40] chrisguindon commented on #48
Thanks @autumnfound

[2019-09-05 20:40] #48 closed

[2019-09-09 15:48] rickoco opened #56 "Site down!"
@chrisguindon @autumnfound - guys OSDForum.org site is down...

[2019-09-09 16:56] autumnfound commented on #56
Hey Rick, I can't reproduce at the moment. Could you check again please?

[2019-09-09 17:50] rickoco commented on #56
Ya looks like the conference I’m at has blocked our site as a spamming url - I’ve asked why...

[2019-09-09 17:50] #56 closed

[2019-09-09 17:51] rickoco commented on #56
Sorry for the false alarm :-(

[2019-09-14 13:06] rickoco opened #57 "Speaker Change"
@autumnfound @chrisguindon Martin, Chris - we have a speaker change for all of talks from NXP.

Please change Jerry Zeng (NXP) to Juan Carlos Pacheco (NXP) in 3 places on the agenda.

Thx

[2019-09-15 19:26] rickoco opened #58 "New Sponsor Logo Embecosm"
@autumnfound @chrisguindon Martin, Chris - pls add the Embecosm logo (alphabetically) to the sponsor section.
![embecosm-logo](https://user-images.githubusercontent.com/2498391/64926581-32ad5a80-d7cd-11e9-9c9b-fdedd8152c1b.png)

[2019-09-16 13:50] autumnfound commented on #58
This is live

[2019-09-16 13:50] #58 closed

[2019-09-16 13:51] autumnfound commented on #57
This is live

[2019-09-16 13:51] #57 closed

[2019-09-16 14:43] rickoco opened #61 "last agenda tweak"
@autumnfound @chrisguindon - guys, sorry for this, but one last agenda tweak from the NXP speaker (3 deletions and add "SDK' to the 1:15pm talk)...

11:15am EDT ~~Hands-on:~~ Vega board SDK, open-isa.org and RV32M1 | Juan Carlos Pacheco (NXP)

1:15pm EDT | Hands-on: ~~Zephyr~~ SDK + IoT wireless connectivity using the Vega board | Juan Carlos Pacheco (NXP)

2pm EDT | Hands-on: Zephyr + MicroPython

[2019-09-17 14:44] autumnfound commented on #61
this is live

[2019-09-17 14:44] #61 closed

[2019-09-25 15:50] rickoco opened #63 "slide & video links"
@chrisguindon @autumnfound - we have the slides and videos ready to go for posting on the OSDForum site.

Agenda spreadsheet with slides and videos links is here...
 [Agenda + Slide & Video Links​
](https://docs.google.com/spreadsheets/d/17LBqPV10D9bYF5wzLNny2XSLmvJCMKYI6C9aflp3SPs/edit?usp=sharing)

[Slides are located here](https://drive.google.com/open?id=18RcOITmTJfMXnYUZfvE-NC5Cy7EmlrXn), but

[2019-09-25 20:25] autumnfound commented on #63
Preview of what I'm thinking, WDYT?
![image](https://user-images.githubusercontent.com/23018241/65636791-02c23c00-dfb1-11e9-8b45-546d779b38d4.png)

Still WIP, should be done sometime tomorrow morning.

[2019-09-26 13:55] autumnfound commented on #63
@rickoco I've created a PR and have a preview running of the agenda changes, but the panel slide deck is a whopping 25MB without compression. I've compressed it down to ~6MB by reducing the print quality, and can be seen at https://deploy-preview-64--osdforum.netlify.com/. Is that OK, and can we see about shrinking the size of these files? While we can host them, and it doesn't hurt overall page p

[2019-09-27 12:29] rickoco commented on #63
looks good @autumnfound - pls go ahead.  One small request would be to change VOD to Video as the header above the videos.  Thanks for getting these up quickly.

[2019-09-30 20:37] rickoco commented on #63
@autumnfound @chrisguindon - guys, is this done?

[2019-09-30 21:47] chrisguindon commented on #63
@rickoco Martin did an update to the PR this morning since he was off last Friday.

I was busy all day and I did not get a change to review the PR until now.

[2019-09-30 21:47] #63 closed

[2020-03-16 18:22] rickoco opened #65 "banner update"
change banner text to:
"Save the date September 2nd & 3rd, 2020"

update venue link to Shaw Centre and link to https://www.shaw-centre.com/

[2020-03-16 18:23] rickoco opened #66 "Sponsored By text"
update the "Sponsored By" title to "OSDForum 2019 Sponsored By"

[2020-03-27 18:35] autumnfound commented on #66
Closing as new event page is live

[2020-03-27 18:35] #66 closed

[2020-03-27 18:35] autumnfound commented on #65
Closing as new event page is live

[2020-03-27 18:35] #65 closed

[2020-07-06 19:13] shanda-eclipse opened #69 "Homepage content update"
Please update the following content on https://www.osdforum.org/.

In Jumbotron, replace "Save the date September 15th, 2020" with "Virtual event | September 15th, 2020"

Under the about section:
Replace "The agenda also includes a hands on bring up session using a RISC-V based development board that attendees can keep." with  "The agenda also includes a hands-on session using a  CORE-V MCU open-s

[2020-07-13 15:51] ChristieWittEclipse commented on #69
![OSD-Forum-Header](https://user-images.githubusercontent.com/58480647/87325145-14081500-c4ff-11ea-80c0-0e73d1aa2807.png)
I've also attached a new header image that is not venue based, as the event is now virtual.

[2020-07-13 17:05] hpollittsmith opened #70 "Homepage update (FPGA board)"
Could you replace the current MCU board picture with a picture of the board we will be using this year:

![image](https://user-images.githubusercontent.com/17474197/87332229-474fa180-c509-11ea-8b31-df823c9d1195.png)

Also, please replace "CMC Microsystem" with "CMC Microsystems" on the line regarding co-hosts for the event.

Hugh

[2020-07-13 18:40] annejacko commented on #70
Another request for the website. Could we change the text at the top to read this way:

<OSDForum logo>
Virtual Event | September 15, 2020
Save the Date

[2020-07-14 13:46] shanda-eclipse commented on #69
@karenmcnaughton FYI

[2020-07-15 15:45] autumnfound commented on #70
Currently, the homepage still references a RISC-V board given to attendees, should I remove that text for the time being?

[2020-07-15 15:54] autumnfound commented on #70
@annejacko
![image](https://user-images.githubusercontent.com/23018241/87567057-d4bdfd80-c691-11ea-876e-fded693409f6.png)

Looks a bit off...I'm thinking of shrinking the text a little to make it less, large I guess?

[2020-07-15 16:08] hpollittsmith commented on #70
You could replace that text with:

The agenda also includes a hands-on session using a CORE-V MCU open-source RISC-V core FPGA development board, which attendees can purchase as an option with their registration.

[2020-07-15 16:31] annejacko commented on #70
@autumnfound HI Martin -- let's remove the "th" after "15", make the text a bit smaller, and perhaps make the "Save the Date" text a big larger. I think that balance would be better.

[2020-07-15 17:18] autumnfound commented on #70
@annejacko another request was made earlier to change that content (#69). I'll stick with that for the content, and we can change it if it is needed.

@hpollittsmith turns out that our marketing folks already had a copy for that, so that will be updated in a separate PR!

[2020-07-15 17:24] annejacko commented on #70
@autumnfound Please do NOT include the "th" even though Shanda included it. I'm sure it was an oversight on her part. It's wrong to use "th" in this context. Thanks!

[2020-07-15 20:20] chrisguindon commented on #70
@annejacko I will remove the "th" in the jumbotron.

[2020-07-15 20:20] #70 closed

[2020-07-15 20:26] #69 closed

[2020-07-27 19:20] rickoco opened #73 "OSDForum 2020 Agenda"
Please post the following agenda on the osdforum.org landing page https://docs.google.com/spreadsheets/d/1zQkedb07pFQBP6is7lfTdKHNfuk6AUfy8-aaLlniD40/edit?usp=sharing

Follow the same format as was used for the 2019 agenda https://www.osdforum.org/2019/

[2020-07-28 17:19] autumnfound commented on #73
@rickoco due to some changes in how we do events, we can't immediately give 100% the same look and feel. This comes with some new features though, like session abstracts. The one difference in new vs old that is noticeable is the handling of Hands-on sessions. Before we had bold text which isn't possible in the new agenda. You can look at https://events.eclipse.org/2020/open-source-ai-workshop/ an

[2020-07-28 17:21] autumnfound commented on #73
Addditionally, a preview of how the 2020 agenda currently looks can be seen at https://5f205c720f54410007c5340d--eclipsefdn-osdforum.netlify.app/.

[2020-07-28 18:15] rickoco commented on #73
@autumnfound the format for both the AI and jakarta events look great - having session abstracts is a definite bonus!!  I'm good with either one - you decide with one you'd like to use for OSDForum 2020 (I also like the speaker headshots which helps promote the event and encourage registration).   Yes, please include the legend so we can highlight 'hands on' sessions as these are an important draw

[2020-07-28 20:14] autumnfound commented on #73
@rickoco if you open the preview and refresh you should see a legend with a few quick colours selected! Let me know if that works for you or if you want the labels updated. The labels can be configured by agenda instance so it's pretty flexible!

[2020-07-28 20:56] rickoco commented on #73
Thx @autumnfound - colours are fine, but can we swap red for the hands-on and beige for the other sessions pls?  We'd like the hands-on sessions to stand out :-)

[2020-07-29 13:58] rickoco opened #76 ""Register Now" buttons"
please add "Register Now" buttons (one in the header image or just below under the event date and one at the top or bottom of the agenda section with the following link https://www.eventbrite.com/e/osdforum-2020-registration-112889000038

[2020-07-31 12:42] autumnfound commented on #73
Done, and live!

[2020-07-31 12:42] #73 closed

[2020-07-31 12:59] autumnfound commented on #76
@rickoco We don't currently support content within the agenda block other than the agenda content. Did you want a new block afterward with the button and some text saying registration is open? If so, what content would you like?

[2020-07-31 13:14] rickoco commented on #76
@autumnfound we're just looking to add "Register Now" buttons with the eventbrite registration link posted above.  So, if you could place 2 buttons, one in the header under the date and one just before the agenda, that would be great.

[2020-07-31 19:11] #76 closed

[2020-08-24 20:14] annejacko opened #78 "Need updates to OSDForum website"
We need to change two bits of text on the home page, and start adding some sponsor logos.
https://www.osdforum.org/

At the top of the page, where it says "OSDFORUM 2020 SPONSORED BY," please change this to read "OSDFORUM 2020 CO-HOSTED BY."

Where it says this: "If you do not have a CORE-V MCU open-source RISC-V core FPGA development board, you can purchase one during the registration process at

[2020-08-25 20:28] annejacko opened #79 "Please add the Speaker Guide to the OSDForum website"
https://www.osdforum.org/
Please add the attached PDF to the website so that speakers can read it (and download it if they wish), and put the URL here so I can send that to the speakers.

Also, it might be useful to also add a button that says "Speaker Guide" somewhere on the page. Perhaps in the agenda section, at the bottom?

I need to send an email to the speaker tomorrow (Wednesday, August 26)

[2020-08-25 20:31] annejacko opened #80 "OSD Forum website needs to have the Code of Conduct added"
https://www.osdforum.org/
I believe we decided that all events needed a visible link to the Code of Conduct (https://events.eclipse.org/code-of-conduct/). I just noticed the OSDForum event doesn't have this link, so we need to add it.

For an example, see the SAM IoT website: https://events.eclipse.org/2020/sam-iot/

Thanks.

[2020-08-26 13:41] #79 closed

[2020-08-26 13:41] #78 closed

[2020-08-26 14:34] annejacko opened #84 "Correction to update to OSDForum site"
Hi - I wasn't sure how to reopen an issue, so doing a new one (please advise).

Thanks for the website updates. I guess I wasn't clear on one item, and I should have checked the 2019 event first, since I would have been more specific.

At the top, it should say
CO-HOSTED BY
<CMC logo>  <EF logo> <Open HW logo>
(please remove the period after "BY"

These three companies are not sponsors, but are or

[2020-08-26 20:21] #80 closed

[2020-09-02 20:36] rickoco opened #85 "Update Agenda"
Update the agenda with the following content...

https://docs.google.com/spreadsheets/d/1zQkedb07pFQBP6is7lfTdKHNfuk6AUfy8-aaLlniD40/edit

[2020-09-03 18:51] #85 closed

[2020-09-03 18:53] #84 closed

[2020-09-07 18:55] annejacko opened #88 "Sponsor logos to add to OSDForum website"
![ARC solo logo (1)](https://user-images.githubusercontent.com/29178654/92617852-99e0dc00-f274-11ea-8f12-6f7ada25ff74.png)
![MetricsLogo_Final_Large](https://user-images.githubusercontent.com/29178654/92617877-9f3e2680-f274-11ea-8645-8dc31a927d63.png)

Can you please add these additional sponsor logos to the OSDForum website ASAP? Thanks.
I forgot to give the URLs, but I added those in a comment b

[2020-09-08 18:37] annejacko commented on #88
Here are the URLs for QuickLogic and Global Foundries.
http://www.quicklogic.com/
http://globalfoundries.com/

[2020-09-09 18:20] #88 closed

[2020-09-10 00:14] annejacko opened #90 "Sponsor logo display -- can we improve it?"
Right now on the OSDForum site, when you view the page on a full-size monitor, the logos look small, and the arrangement isn't balanced. See the screen shot with one logo on the second line, and all the others on the first line.

https://www.osdforum.org/

Ideally, the logos would be larger or with less white space, and be balanced in the way they are displayed (and responsive to different screen

[2020-09-10 17:54] annejacko opened #91 "Please add a speaker to the agenda"
Please add this speaker to the session that starts at 4:15 (other speaker is Charlie Hauck). Thanks!

Joe Stoy

[2020-09-10 20:05] autumnfound commented on #91
What company does Joe work for? We put the orgs with the speakers for this event

[2020-09-10 20:44] annejacko commented on #91
He works for Bluespec. Thanks! My bad.

[2020-09-11 03:20] annejacko opened #92 "Please add the Attendee Guide to the event website"
If possible, please get the attached
[OSDForum Attendee Guide.pdf](https://github.com/openhwgroup/osdforum.org/files/5205718/OSDForum.Attendee.Guide.pdf)
 Attendee Guide PDF onto the website ASAP. Again, apologies for the rush, but we are running as fast as we can. :-)

To make it visible, I suggest adding it as a menu item next to Code of Conduct can calling it "Attendee Guide." If for some reaso

[2020-09-11 15:36] #92 closed

[2020-09-11 15:36] #91 closed

[2020-09-13 17:16] rickoco commented on #90
Any progress here?

[2020-09-13 20:40] chrisguindon commented on #90
@autumnfound can you take a look at this on monday?

[2020-09-14 14:24] autumnfound commented on #90
@annejacko @rickoco please see the following preview for a suggested fix: https://deploy-preview-95--eclipsefdn-osdforum.netlify.app/

I upped the width of the logos somewhat so that more of them flow to the next row to look more natural without being too large. WDYT?

[2020-09-14 14:29] annejacko commented on #90
Thanks, Martin. Better! But on a 27" monitor, it's still pretty lopsided -- two logos are now on the second line. Would a slight increase to the size put three of them on the second line? That would look even better. A slightly larger size would also be consistent with the size of the organizer logos above, so I think that could work.

[2020-09-14 14:42] autumnfound commented on #90
Looks like a discrepancy between my branch and the master somehow? On my local copy, there were three in the bottom row. I've upped it a little to reflect that. On the difference in size, there are no differences, just the appearance of one. The organizer logos are the same size, and just look bigger as there are more square logos (which benefit from the way we equalize the logos).

[2020-09-14 14:49] annejacko commented on #90
Just clicked on the link you provided and I see three on the second line now. Much better. The right way to do this is to ask the sponsors for logos with certain sizes and proportions, which is what we do for EclipseCon. Note for the future! :-)

My take is that we should deploy this... I have pinged Rick for him to review.

[2020-09-14 16:12] #90 closed

[2020-09-23 20:06] rickoco opened #97 "Slides and Videos"
Pls post the PDFs and links to Videos for each of the talks shown on the agenda https://www.osdforum.org/ (11 talks with slides & videos).  Note, there are no slides or video for the 9am talk.  Slide PDFs are in the archive linked here [https://drive.google.com/file/d/1uPJM8ciABbuQ5pxfnCDF4WoITBfCP-of/view?usp=drivesdk and video urls are shown below in chronological order.  Also, the chronological

[2020-09-24 19:16] chrisguindon commented on #97
@flora8984461 This is something we would like to get done before EOD tomorrow!

Thanks!

[2020-09-29 19:21] #97 closed